*{
    box-sizing: border-box;

}

body{
    margin: 0px;
}

.blogLink{
    color: rgb(63, 35, 82);
    font-weight: bold;
    text-decoration: none;
}
.blogLink:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 9pt;
    color: rgb(104, 104, 104);
    font-style: italic;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: rgb(214, 214, 214);
    width: 100%;
    padding: 3px;
    
    
}

.fa-copyright{
    color: rgb(104, 104, 104);
    font-size: 10pt;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    
}
.fa-copyright:hover{
    color: rgb(104, 104, 104);
}

.about{
    line-height: 140%;
}

.space{
    height: 100px;
}

i{
    font-size: 32px;
   color: rgb(63, 35, 82);
    
}
i a{
    text-align: center;
    
}
i:hover{
    color: rgb(101, 80, 126);
}

.contact{
    margin-bottom: 55px;
    line-height: 140%;
}

.icons{
   margin-left: 50px;
   margin-top: 20px;
    
}

.contactForm{
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: initial;
    background-color: rgb(101, 80, 126);
    border: none;
    box-shadow: 2px 2px 5px rgb(88, 88, 88);
    -webkit-box-shadow: 2px 2px 5px rgb(88, 88, 88);
    -moz-box-shadow: 2px 2px 5px rgb(88, 88, 88);
    
    padding-bottom: 20px;
}

.button{
    text-align: center;
}
button{
    border: none;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(63, 35, 82);
    color: rgb(214, 214, 214);
    width: 70%;
    height: 40px;
    margin-right: 20px;
    font-size: 14pt;
    box-sizing: border-box;
    
    margin-bottom: 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(80, 46, 104)
}

label{
    color: rgb(214, 214, 214);
    font-family: 'Roboto Slab', serif;
    font-size: 11pt;
}
input, textarea{
    margin-top: 10px;
    background-color: rgb(214, 214, 214);
    display: block;
    resize: none;
    border-radius: 3px;
    border: 2px solid rgba(63, 35, 82, 0.842);
    width: 95%;
    margin-bottom: 20px;
    font-size: 11pt;
    
    padding: 5px;
}

.formLabel{
    display: block;

}



.projectDescription{
   padding-left: 30px;
   padding-right: 30px;
   line-height: 140%;
    margin-bottom: 25px;
}

.projectInfo{
    border-top: 2px solid rgb(63, 35, 82);
    border-bottom: 2px solid rgb(63, 35, 82);
    margin-bottom: 120px;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.projectLinks{
    margin-top: 10px;
    word-spacing: 40px;
    margin-bottom: 10px;
}
.projectLinks a{
    text-decoration: none;
    text-transform: initial;
    color: rgb(214, 214, 214);
    font-size: 14pt;
    background-color: rgb(63, 35, 82);
    padding: 8px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    
}

.projectLinks a:hover{
    
    background-color: rgb(101, 80, 126)
    
}

.about, .projectDescription, .contact{
    text-align: initial;
}

.projectName{
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.utilize{
    color: rgb(63, 35, 82);
    text-transform: uppercase;
}

.projectPic{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px rgb(88, 88, 88);
    -webkit-box-shadow: 2px 2px 5px rgb(88, 88, 88);
    -moz-box-shadow: 2px 2px 5px rgb(88, 88, 88);
    
}

.space{
    height: 50px;
}



.navList{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgb(101, 80, 126);
    width: 100%;
    
    height: 60px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    word-spacing: 50px;
    padding-right: 30px;
    box-shadow: 2px 2px 5px rgb(88, 88, 88);
    -webkit-box-shadow: 2px 2px 5px rgb(88, 88, 88);
    -moz-box-shadow: 2px 2px 5px rgb(88, 88, 88);
    z-index:999;
}

li{
    list-style: none;
    display: inline-block;
}



li a {
    text-decoration: none;
    font-size: 12pt;
    color: rgb(214, 214, 214);
    letter-spacing: 2px;
    
}

li a:hover{
    border-bottom: 4px solid rgb(63, 35, 82);
}

li a:active{
    color: rgb(63, 35, 82);
    border-bottom: 4px solid rgb(214, 214, 214);
}

.headerContent{
    margin-top: 100px;
    font-family: 'Roboto Slab', serif;
    color: rgb(63, 35, 82);
    text-transform: uppercase;
    text-align: center;
    
    
}

body{
    margin: 0px;
}


.header{
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding-bottom: 50px;
    
}
.graySpace{
    height: 1000px;
    background-color: rgb(241, 241, 241);
    margin-bottom: -100px;
    margin-top: -900px;
}
.name{
    font-size: 18pt;
}

.headline{
    font-size: 12pt;
    font-weight: bold;
    
}

.headOutline{
    border-top: solid rgb(37, 37, 37) 3px;
    border-bottom: solid rgb(37, 37, 37) 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.displayedContent{
    font-family: 'Roboto ', sans-serif;
    width: 92%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(37, 37, 37);
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
}

@media only screen and (min-width: 870px){
    .headerContent{
        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }
    .projectPic{
        width: 770px;
    }
    .projectDescription{
        font-size: 13pt;
    }
    .projectLinks a{
        font-size: 16pt;
    }
    
}



@media only screen and (max-width: 870px){
    .headerContent{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .projectPic{
        width: 100%;
    }
}

@media only screen and (min-width: 600px){
    .contactForm{
        width: 530px;
        margin-bottom: 60px;
    }
    i{
        font-size: 42px;
    }
    .icons{
        letter-spacing: 60px;
    }
    textarea{
        height: 120px;
    }
    

}

@media only screen and (max-width: 600px){
    .headline{
        display: none;
    }
    .headOutline{
        display: none;
    }
    .graySpace{
        margin-top: 0px;
        height: 80px;
        
    }
    label{
        font-size: 10pt;
    }
    input, textarea{
        font-size: 10pt;
    }
    textarea{
        height: 60px;
    }
    button{
        font-size: 12pt;
    }

    footer{
        font-size: 8pt;
        
    }

    .navList{
        word-spacing: 10px;
    }
    li a {
        font-size: 10pt;
        letter-spacing: initial;
    }
    .headerContent{
        width: 80%;
    }
    .name{
        text-decoration: underline;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 75px;
        font-size: 17pt;
        top: 0; left: 0; bottom: 0; right: 0
    }
    .headline{
        font-size: 11pt;
    }
    .displayedContent{
        font-size: 11pt;
        margin-top: 30px;
    }
    .projectName{
        font-size: 13pt;
    }
    .projectLinks a{
        font-size: 12pt;
        
    }

    .projectLinks{
        margin-bottom: 20px;
    }

    .projectDescription{
        padding-right: 0;
        padding-left: 5px;
        margin-bottom: 30px;
    }
   
    .contactForm{
        width: 100%;
        padding-top: 10px;
    }
    button{
        font-size: 11pt;
    }
    .projectInfo{
        padding: 0;
        margin-bottom: 80px;
    }
    .icons{
        margin-left: 15px;
        margin-top: 80px;
        letter-spacing: 30px;
    }
    i{
        font-size: 29pt
    }
}


@media only screen and (min-width: 1100px){
    .projectPic{
        width: 95%;
    }
    .displayedContent{
        width: 1000px;
        font-size: 14pt;
    }
    .navList{
        position: fixed;
        left: 0;
        height: 100%;
        background-color: rgb(101, 80, 126);
        box-shadow: 2px 2px 5px rgb(88, 88, 88);
        -webkit-box-shadow: 2px 2px 5px rgb(88, 88, 88);
        -moz-box-shadow: 2px 2px 5px rgb(88, 88, 88);
        width: 200px;
        
    }
    
    li{
        margin-top: 100px;
        margin-left: 25px;
    }
    
    li a {
        font-size: 16pt;
        margin-right: 20px;
        padding: 5px;
        
    }
    
    ul{
        position: absolute;
        top: 70px;
        
    }
    
    li a:hover{
        border-bottom: none;
        background-color: rgb(63, 35, 82);
        
    }
    
    li a:active{
        color: rgb(63, 35, 82);
        background-color: rgb(214, 214, 214);
    }

    .headerContent{
        margin-top: 50px;
    }

    .displayedContent, .headerContent{
        padding-left: 200px;
    }
    .name{
        font-size: 20pt;
    }
    .headline{
        font-size: 14pt;
    }
    .projectName{
        font-size: 18pt;
    }

    
}

@media only screen and (min-width: 1400px){
    .projectPic{
        width: 100%;
    }
    .about{
        width: 1000px;
        margin-left: -50px;
    }
    
    .displayedContent{
        width: 1000px;
    }
    .headerContent{
        width: 820px;
    }
    .name{
        font-size: 28pt;
    }
    .headline{
        font-size: 18pt;
    }
}